<mat-toolbar color="primary">
    <mat-toolbar-row>
        <button mat-icon-button>
            <mat-icon>menu</mat-icon>
          </button>
</mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side" opened>
    <mat-nav-list>

      <mat-list-item (click)="onNodeSelect()">
        Table
      </mat-list-item> 


    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div style="height: 90vh;">
      <template node-host></template>
      <template prop-host></template>
      
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>