mat-list-item {
    text-align: left;
}
mat-nav-list {
    width : 200px;
    background-color: lightcyan;
    height: 89vh;
}
.aligned-with-icon {
    position: relative;
    top: -5px;
    margin-left: -10px; /* optional */
}
